.avatar {
	text-align: left;
	padding: 5px;
}

.avatar img {
	width: auto;
	height: 280px;
}

.description {
	text-align: left;
	padding: 10px;
}

.mainPhoto {
	max-width: 200px;
}
.contacts {
	padding-left: 10px;
}
